* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  scrollbar-width: thin;
  scrollbar-color: #00ffff #111;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  position: relative;
  z-index: 1;
  background: linear-gradient(90deg, grey, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00ffffaa;
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 255, 255, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: #00ffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
  height: 100vh;

}

h1,
.astro-text {
  font-family: 'Orbitron', sans-serif;
}

a {
  text-decoration: none;
}