.hero-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-content {
  z-index: 1;
  text-align: center;
  transform: scale(0);
  animation: rotate 2s ease forwards;
}

@keyframes rotate {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1)
  }
}

.hero-content h1 {
  font-size: 4rem;
  letter-spacing: 4px;
  margin-bottom: 1rem;

  background: linear-gradient(90deg, grey, white, grey);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradient-wiggle 3s ease-in-out infinite;
}

@keyframes gradient-wiggle {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero-content p {
  font-size: 1.5rem;
  opacity: 0.8;
  margin-bottom: 2rem;
}


.hero-btn {
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 14px 32px;
  margin: 10px;
  color: #ffffff;
  background: transparent;
  border: 2px solid #909090;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;

}

.hero-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #00ffee, #1e90ff);
  transition: all 0.4s ease;
  z-index: -1;
}

.hero-btn:hover::before {
  left: 0;
}

.hero-btn:hover {
  color: #000;
  border-color: #00c6ff;
}